
body {
	
	

}

label {
	font-size: 150%;
}
.member1 {
	background-color: #ccffff;
}



.member2 {
	background-color: #DCDCDC;
}

.member3 {
	background-color: #E6E6FA;
}

.member4 {
	background-color: #DCDCDC;
}

.member5 {
	background-color: #E6E6FA;
}

.member6 {
	background-color: #DCDCDC;
}